@font-face
{
    font-family: 'Oswald';
    src: url(Oswald-Regular.ttf);
}

.muzzle
{
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    grid-template: 'e h h h r'
        'l n n b r'
        'l s s s r'
        'l a a a r'
        'l c c c r';
    grid-auto-columns: minmax(150px, 300px);
}

a
{
    text-decoration: none;
    color: #000;
}

h1:focus,
h2:focus,
a:focus
{
    outline: 3px solid #ffdb4d;
}

li
{
    padding: 5px;
}

.settings
{
    grid-area: h;
    display: flex;
    justify-content: flex-end;
}

.settings-widgets label::before
{
    content: '';
    background-image: url('pictures/checkbox.png');
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    background-size: contain;
    vertical-align: bottom;
}

.settings .settings-open
{
    display: block;
    padding: 10px;
    direction: rtl;
}

input[name='settings']:checked + div .settings-widgets,
.jockes input:checked + .jocke,
.settings-widgets label
{
    display: block;
}

input[id='popular']:checked ~ .settings label[for='popular']::before,
input[id='jockes']:checked ~ .settings label[for='jockes']::before,
input[id='tv_program']:checked ~ .settings label[for='tv_program']::before,
input[id='auto_news']:checked ~ .settings label[for='auto_news']::before,
input[id='weather']:checked ~ .settings label[for='weather']::before,
input[id='traffic']:checked ~ .settings label[for='traffic']::before,
input[id='map']:checked ~ .settings label[for='map']::before,
input[id='poster']:checked ~ .settings label[for='poster']::before
{
    background-image: url('pictures/checked.png');
}

input[id='popular']:not(:checked) ~ .content .popular,
input[id='jockes']:not(:checked) ~ .content .jockes,
input[id='tv_program']:not(:checked) ~ .content .tv_program,
input[id='auto_news']:not(:checked) ~ .content .auto_news,
input[id='weather']:not(:checked) ~ .content .weather,
input[id='traffic']:not(:checked) ~ .content .traffic,
input[id='map']:not(:checked) ~ .content .map,
input[id='poster']:not(:checked) ~ .content .poster
{
    display: none;
}

input,
.jockes .jocke,
.settings-widgets
{
    display: none;
}

.settings-widgets label
{
    padding: 5px;
}

.settings-widgets
{
    position: absolute;
    right: 13%;
    top: 50px;
    font-size: 11px;
    background-color: #fff;
    width: 180px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2), 0 6px 8px 0 rgba(0,0,0,.2);
    border-radius: 3px;
}

.settings .open
{
    padding: 10px;
}

.right_column
{
    grid-area: r;
}

.log_in
{
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    width: 100%;
    padding: 12px 14px;
}

.count,
.login
{
    margin-left: 0;
    margin-right: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    font-weight: bolder;
}

.news_header
{
    display: block;
    color: #0054b9;
    font-size: 1em;
    font-weight: normal;
}

.news_header p
{
    color: #6da2e1;
}

.news_header h2,
.news_header p
{
    cursor: pointer;
    display: inline;
    font-weight: 70;
}

.data
{
    font-size: 73.6%;
    color: #999;
    cursor: text;
    display: inline;
}

.banner
{
    grid-area: b;
    width: 60%;
    padding: 20px;
}

.banner_img
{
    cursor: pointer;
}

.banner_img span
{
    font-size: 17px;
    font-weight: 400;
}

.search_string
{
    display: inline-block;
}

.search
{
    grid-area: s;
}

.weather_icon,
.traffic_icon
{
    display: inline-block;
    width: 37px;
    height: 39px;
    vertical-align: middle;
}

.traffic_icon
{
    background-image: url(pictures/traffic.svg);
}

.weather_icon
{
    background-image: url(pictures/weather.svg);
}

input
{
    width: 90%;
    height: 32px;
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid #ffdb4d;
    margin: 0;
}

.button_text
{
    width: 88px;
    font-size: 16px;
    line-height: 32px;
    color: #000;
}

.button_text
{
    position: relative;
}

.button_text:before 
{
    right: calc(-38.5%);
    border-width: 16px 0 16px 9px;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-color: rgba(255,219,76,0);
    border-left-color: inherit;
    color: #ffdb4d;
}

.button_search
{
    font-size: 13px;
    width: 8%;
    height: 32px;
    vertical-align: top;
    border: none;
    background-color: #ffdb4d;
    margin-left: -7px;
    padding: 0;
    cursor: pointer;
}

.links
{
    padding-bottom: 10px;
    width: 100%;
    grid-area: s;
}

.links a
{
    color: #0054b9;
    padding-right: 15px;
}

.content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 490px;
    grid-area: c;
    
}

.tv_program .online
{
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    background-color: #418af9;
    background-clip: padding-box;
    background-image: linear-gradient(to right,#00a3fa,#716ef8);
}

.news
{
    color: #000;
    grid-area: n;
    margin-top: 0;
    position: relative;
    font-size: 13px;
    padding-bottom: 20px;
}

.city,
.city_block
{
    grid-area: e;
    text-decoration: none;
    color: #999;
    padding: 1.98%;
    font-size: 13px;
}

.cost,
.menu a span,
.currency a
{
    font-size: 13px;
    color: #000;
}

.menu a span,
.currency a
{
    letter-spacing: 1px;
    font-weight: 700;
}

.currency
{
    margin-right: 3%;
    display: inline;
}

.city:hover,
a:hover,
li:hover,
.city_hover:hover,
.recomendation span:hover,
.banner_img:hover,
.banner_img span:hover,
.news_header h2:hover,
.news_header p:hover
{
    color: #c00;
}

.jockes li:hover
{
    color: #000;
}

.city_hover
{
    width: 50%;
}

.city_icon
{
    display: inline-block;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width=\'19\' height=\'38\' viewBox=\'0 0 19 38\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cdefs%3E%3Cg id=\'a\'%3E%3Cpath d=\'m15 4l-11.9 5.3 5.8 0.8 0.5 5.5 5.6-11.6z\'/%3E%3C/g%3E%3C/defs%3E%3Cuse xmlns=\'http://www.w3.org/2000/svg\' xlink:href=\'%23a\' fill=\'%23B3B3B3\'/%3E%3Cuse xmlns=\'http://www.w3.org/2000/svg\' xlink:href=\'%23a\' fill=\'%23d00\' transform=\'translate(0 19)\'/%3E%3C/svg%3E');
    width: 19px;
    height: 19px;
    vertical-align: middle;
}

span,
.footer_block a
{
    cursor: pointer;
    color: #0054b9;
}

.city_hover:hover .city_icon
{
    background-position-y: bottom;
}

.logo_block
{
    font-family: 'Oswald';
    font-size: 40px;
    display: inline-block;
    grid-area: l;
    grid-row: 3/4;
    padding: 18px;
}

.logo
{
    float: right;
}

.log_in .login::first-letter,
.logo::first-letter
{
    color: #f00;
}

.footer_block .section
{
    font-size: 12px;
}

.recomendation
{
    padding-top: 8px;
    padding-bottom: 25px;
    font-size: 12px;
}

li span,
.recomendation span
{
    color: #999;
    padding-right: 5px;
}

.bottom_banner a img
{
    padding-bottom: 5px;
    width: 90%;
    height: 100%;
}

.map span
{
    color: #000;
    padding-right: 5px;
    font-weight: bolder;
    font-size: 13px;
}

menu
{
    padding: 0;
    font-size: 13px;
}

.footer_block
{
    width: 34%;
    padding-right: 15px;
}

.footer_block a
{
    font-size: 18px;
}

.footer_block a:focus
{
    outline: 2px solid #ffdb4d;
}

.tv_program span
{
    padding-left: 5px;
}

.weather,
.traffic,
.map
{
    min-height: 75px;
}

.auto_news_block
{
    max-height: 200px;
    position: relative;
}

.auto_news_block menu
{
    overflow-y: scroll;
    max-height: 200px;
}

.footer_block li
{
    list-style-type: none;
    padding-left: 0;
}

.auto_news_block menu::-webkit-scrollbar
{
    width: 0;
}

.auto_news_block .blackout-bottom,
.auto_news_block .blackout-top
{
    width: 100%;
    height: 30px;
    position: absolute;
}

.auto_news_block .blackout-top
{
    top: 0;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,1));
}

.auto_news_block .blackout-bottom
{
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1));
}
